// Colours
$white: #fff;
$black: #000;
$blue: #18244F;
$alt_color: #FFF9EF;
$orange: #F6A70B;
$green: #38C976;
$red: #FF384A;
$gutter: 60px;
$text_color: #18244F;

// fonts
$font_regular: "poppins_regular", Helvetica, Arial, sans-serif;
$font_bold: "poppins_bold", Helvetica, Arial, sans-serif;
