@font-face {
  font-family: 'poppins_regular';
  src: url('https://ddasf3j8zb8ok.cloudfront.net/craydel.com/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins_bold';
  src: url('https://ddasf3j8zb8ok.cloudfront.net/craydel.com/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
